
<div class="alert alert-warning" role="alert">
    Tem certeza que deseja excluir a viagem abaixo?
</div>
<div class="design"><div class="card mx-auto" style="width: 80rem;">
  <div class="card-header">
    Excluir viagem
  </div>
</div> 
<table class="table table-striped mx-auto" style="width: 80rem;" >
  <thead>
    <tr>
      <th scope="col">Destino</th>
      <th scope="col">Tipo</th>
      <th scope="col">Data de chegada</th>
      <th scope="col">Data de Saida</th>
      <th scope="col">Orçamento</th>
      <th scope="col">Qtde. pessoas</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="mx-auto" style="width: 200px;" scope="row">Acapulco</th>
      <td class="mx-auto" style="width: 200px;">LAZER</td>
      <td class="mx-auto" style="width: 200px;">08/06/2021</td>
      <td class="mx-auto" style="width: 200px;">18/06/2021</td>
      <td class="mx-auto" style="width: 200px;">R$4.000.00</td>
      <td class="mx-auto" style="width: 200px;">4</td>
      <td><a href="/lista-viagens" class="btn btn-primary" role="button">Voltar</a></td>
      <td><a href="/excluir-viagem"  class="btn btn-danger" role="button">Confirmar</a></td>

    </tr>
 </tbody> 
</table></div>


 <!--<div class="card mx-auto" style="width: 80rem;">
    <div class="card-header">
      Excluir viagem
    </div>
 </div> 
<table class="table table-striped" style="width: 80rem;" >
    <thead>
      <tr>
        <th scope="col">Destino</th>
        <th scope="col">Tipo</th>
        <th scope="col">Data de chegada</th>
        <th scope="col">Data de Saida</th>
        <th scope="col">Orçamento</th>
        <th scope="col">Qtde. pessoas</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="mx-auto" style="width: 200px;" scope="row">Acapulco</th>
        <td class="mx-auto" style="width: 200px;">LAZER</td>
        <td class="mx-auto" style="width: 200px;">08/06/2021</td>
        <td class="mx-auto" style="width: 200px;">18/06/2021</td>
        <td class="mx-auto" style="width: 200px;">R$4.000.00</td>
        <td class="mx-auto" style="width: 200px;">4</td>
        <td></td>
        <a href="/lista-viagens" class="btn btn-primary" role="button">Voltar</a>
        <td></td>
        <a href="/excluir-viagem"  class="btn btn-danger" role="button">Confirmar</a>
      </tr>
   </tbody> 
</table>-->