<div class="alert alert-light" role="alert">
</div>

<div class="card mx-auto" style="width: 80rem;">
  <div class="card-header">
    Minhas Viagens
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Destino</th>
      <th scope="col">Tipo</th>
      <th scope="col">Data de chegada</th>
      <th scope="col">Data de Saida</th>
      <th scope="col"></th>
      <th scope="col"></th>
  
      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="mx-auto" style="width: 200px;" scope="row">Acapulco</th>
      <td class="mx-auto" style="width: 200px;">LAZER</td>
      <td class="mx-auto" style="width: 200px;">08/06/2021</td>
      <td class="mx-auto" style="width: 200px;">18/06/2021</td>
      <td><a href="/detalhes-viagem" class="btn btn-secondary" role="button">Detalhes</a></td>
      <td><a href="/excluir-viagem" class="btn btn-warning" role="button">Excluir</a></td>
    </tr>
    <tr>
      <th scope="row">Egito (Cairo)</th>
      <td>LAZER</td>
      <td>20/06/2021</td>
      <td>28/06/2021</td>
      <td><a href="/detalhes-viagem" class="btn btn-secondary" role="button">Detalhes</a></td>
      <td><a href="/excluir-viagem" class="btn btn-warning" role="button">Excluir</a></td>
    </tr>
    <tr>
      <th scope="row">Nova Zelandia</th>
      <td>LAZER</td>
      <td>04/09/2021</td>
      <td>11/10/2021</td>
      <td><a href="/detalhes-viagem" class="btn btn-secondary" role="button">Detalhes</a></td>
      <td><a href="/excluir-viagem" class="btn btn-warning" role="button">Excluir</a></td>
      
    </tr>
    <th scope="row">Australia</th>
    <td>LAZER</td>
    <td>04/09/2021</td>
    <td>11/10/2021</td>
    <td><a href="/detalhes-viagem" class="btn btn-secondary" role="button">Detalhes</a></td>
    <td><a href="/excluir-viagem" class="btn btn-warning" role="button">Excluir</a></td>
    
  </tbody>
</table>
</div>

